div#page-container {
  font-size: 100%;
  font-family: arial,helvetica,sans-serif;
  background: url("../images/header-bg.png") repeat-x center top #fff;
}

div#header-container {
  background: url("../images/header-logo-watermark.png") repeat-x -9px #fff;
  width: 950px;
  margin: auto;
}

div#body-container {
  width: 950px;
  padding-top: : 20px;
  padding-bottom: 20px;
  margin: auto;
}


div#header {
  height: 100px;
  margin-bottom: 2px;
  overflow: hidden;
}

div#logo {
  height: 100px;
  position: relative;
  left: 1px;
  top: 15px;
  width: 110px;
  float: left;
  margin-right: 10px;
}

div#branding {
  height: 100px;
  width: 830px;
  margin-right: 0px;
  float: left;
  padding-right: 0;
}

div#subbrand-name {
  color: white;
  float: left;
  font-family: times,"times new roman",serif;
  font-size: 1.25em;
  height: 0;
  left: 50px;
  position: relative;
  text-align: left;
  top: 25px;
}

div#subbrand-name h1 {
  font-weight: normal;
}
div#subbrand-name a:hover {
  text-decoration: underline;
}

div#subbrand-name a {
  color: white;
  text-decoration: none;
}

div#subbrand-name a:hover {
  text-decoration: underline !important;
}

div#subbrand-name p {
  line-height: 0.8em;
  margin: 0 0 1.5em;
}

div#subbrand-name p a.subbrand-present {
  font-size: 0.7em;
  font-style: italic;
  text-decoration: none;
}

div#subbrand-name p a:hover {
  text-decoration: underline !important;
}


div#utility {
  float: right;
  height: 121px;
  margin-top: 7px;
  line-height: 1.15em;
  width: 190px;
  margin-right: 11px;
}

#utility ul {
  list-style-type: none;
  margin-bottom: 5px;
  margin-right: 8px;
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

#utility ul li {
  font-family: arial,helvetica,sans-serif;
  font-size: 0.75em !important;
  margin-left: -4px;
  text-align: right;
  width: 164px;
}

#utility ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

#utility ul li a:hover {
  text-decoration: underline;
}

#footer-container {
  background: url("../images/footer-bg.png") repeat-x scroll left top transparent;
  width: 950px;
  margin: auto;
  height: 150px;
}

#footer-container p {
  margin: 0 0 1.5em;
}

#utility-bar {
  width: 950px;
  height: 32px;
}
#utility-bar ul {
  height: 32px;
  list-style-type: none;
  padding-left: 1.25em !important;
  margin-left: 22px !important;
  margin: 0 1.5em 1.5em 0;
}

#utility-bar ul li {
  display: block;
  float: left;
  font-family: arial,helvetica,sans-serif;
  font-size: 0.83em !important;
  height: 32px;
  margin-right: 20px;
}

#utility-bar ul li a {
  color: white;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
}

#utility-bar ul li a:hover {
  text-decoration: underline;
}

#footer {
  float: none !important;
  margin-right: 0;
  width: 950px;
  padding-right: 0;
}

#footer p, #footer p a {
  color: #666666;
  font-family: arial,helvetica,sans-serif;
  margin-top: -10px;
}

#footer-name {
  position: absolute;
  top: 25px;
  width: 500px !important;
  padding-left: 40px;
  padding-right: 40px;
  float: left;
  margin-right: 10px;
}

#footer-name2 {
  position: relative;
  top: 25px;
  width: 500px !important;
  padding-left: 40px;
  padding-right: 40px;
  float: left;
  margin-right: 10px;
}

#footer-follow {
  padding-right: 40px;
  width: 190px;
  float: right;
  margin-right: 10px;
}

#footer-follow h2 {
  color: #666666 !important;
  font-family: arial,helvetica,sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 15px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-top: 12px;
}

div.social-icons, div.social-icons a {
  display: inline-block;
  height: 30px;
  margin-right: 3px;
  vertical-align: top;
  width: 30px;
}

div.tm-facebook a {
  background: url("../images/social-icons.png") no-repeat scroll 0 0 transparent;
}

div.tm-blog a {
  background: url("../images/social-icons.png") no-repeat scroll 0 -30px transparent;
}

div.tm-twitter a {
  background: url("../images/social-icons.png") no-repeat scroll 0 -60px transparent;
}

div.tm-flickr a {
  background: url("../images/social-icons.png") no-repeat scroll 0 -90px transparent;
}

div.tm-youtube a {
  background: url("../images/social-icons.png") no-repeat scroll 0 -120px transparent;
}


div.social-icons, div.social-icons a {
  display: inline-block;
  height: 30px;
  margin-right: 3px;
  vertical-align: top;
  width: 30px;
}


a.special { position:relative; }
a.special div.desc { background-color:white; display:none; position:absolute; z-index:100; }
a.special:hover div.desc { display:block; }
